body{
    background-color: lightgray;
}

img {
    width: 120px;
    float: right;

}

.text{
  float: right;
  width: calc(100% - 120px);
}

.card {
    margin: auto;
    background-color: white;
    position: relative;
    width: 700px;
    height: 140px;
    padding: 12px 20px 0px;
    border-bottom: 10px;
    border-color: rgb(95, 25, 25);
    border-radius: 2px;
}